* {
	box-sizing: border-box;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-template-rows: 1fr 2fr 3fr;
  grid-auto-flow: dense;
  grid-template-areas: 
		"a a b"
		". c b"
		". c .";
	grid-gap: 20px;
	padding: 20px;
	min-height: 90vmin;
}

.gridItem {
	background-color: hsl(var(--h, 265), 68%, 56%);
	transition: border-radius 400ms ease-in-out, background-color 400ms ease-in-out;
}

.gridItem:first-child {
  grid-area: a;
}

.gridItem:nth-child(2) {
  grid-area: b;
}

.gridItem:last-child {
  grid-area: c;
}

.toolbar {
	padding: 10px;
	background-color: #302b38;
	color: white;
	display: flex;
	align-items: center;
}

.input-group {
	margin-left: 20px;	
}

.label {
	margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 1em;
  margin-left: 20px;
  background-color: #5b526b;
	color: white;
	font-size: 1rem;
	transition: background-color 200ms ease-in-out;
}

button:hover,
button:focus {
  background-color: #8141db;
}